
    <div id="concuchara">
        <div id="probandoxd">
            
        </div>
        <div id="Nosotros">
            <div id="Logox2Main">
                <img src="imagen/Don_brownie30Ver.jpg" alt="">

            </div>
            <div id="informacion">
                <div id="Mision">
                    <h1 class="Prueba">Mision</h1>
                    <p class="Prueba">Somos una franquicia de Brownie, produciendo brownies para ustedes desde 1968.
                        Expandiendo el legado
                        del
                        mejor preparador de Brownies durante las generaciones pasadas.</p>
                </div>
                <div id="Vision">
                    <h1 class="Prueba">Vision</h1>
                    <p class="Prueba">Nuestro objetivo es que ser el máximo referente en la entrega de brownies durante
                        las próximas
                        generaciones</p>

                </div>
                <div id="Valores">
                    <h1 class="Prueba">Valores</h1>
                    <p class="Prueba">Responsabilidad, Entrega, Compromiso y Respeto
                    </p>
                </div>
            </div>
        </div>
    </div>





    </div>

