

    
    <div id="main">
        <div id="arriba">
            <div class="gallery">
                <a target="_blank" href="imagen/brownie1.jpg">
                    <img src="imagen/brownie1.jpg" alt="F" width="600" height="400">
                </a>
                <div class="desc">SERVICIO#1 BROWNIES ESPACIALES <br><br> precio: RD$500</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="imagen/brownie3.jpg">
                    <img src="imagen/brownie3.jpg" alt="F" width="600" height="400">
                </a>
                <div class="desc">SERVICIO#2 TRES PISOS DE BROWNIES <br><br> precio: RD$500</div>
            </div>
            <div class="gallery">
                <a target="_blank" href="imagen/brownie4.jpg">
                    <img src="imagen/brownie4.jpg" alt="F" width="600" height="400">
                </a>
                <div class="desc">SERVICIO#3 SACO E BROWNIES <br><br> precio: RD$1350</div>
            </div>
        </div>
        <!-- ----- -->
        <div id="abajo">
            <div class="gallery">
                <a target="_blank" href="imagen/brownie9.jpg">
                    <img src="imagen/brownie9.jpg" alt="F" width="600" height="400">
                </a>
                <div class="desc">SERVICIO#4 CHOCOLATE CON CANELA <br><br> Precio: RD$600 </div>
            </div>

            <div class="gallery">
                <a target="_blank" href="imagen/brownie10.jpg">
                    <img src="imagen/brownie10.jpg" alt="F" width="600" height="400">
                </a>
                <div class="desc">SERVICIO#5 PASTEL DE CHOCOLATE <br><br> precio: RD$500</div>
            </div>
            <div class="gallery">
                <a target="_blank" href="imagen/brownie7.jpg">
                    <img src="imagen/brownie7.jpg" alt="F" width="600" height="400">
                </a>
                <div class="desc">SERVICIO#6 CHOCOLATE CON FRESA <br><br> precio: RD$1000</div>
            </div>
        </div>
    </div>
