
   
    

   
        <div id="formulario">
            <form action="/add" method="POST"  name="ejemplo">

                <label for="username">Nombres:</label>
                <textarea name="Nom" id="usuarios" cols="75" placeholder="Escriba aqui" rows="5"></textarea>

                <br><br>

                <label for="username">Apellidos:</label>
                <textarea name="Apellidos" id="Apellidos" cols="75" placeholder="Escriba aqui" rows="5"></textarea>

                <br><br>
                <label for="username">Servicios:</label>
                <textarea name="Servicios" id="Servicios" cols="75" placeholder="Escriba aqui" rows="5"></textarea>

                <br><br>
                <label for="username">Ubicacion:</label>
                <textarea name="Ubicacion" id="Ubicacion" cols="75" placeholder="Escriba aqui" rows="5"></textarea>

                <br><br>
                <label for="username">Telefono:</label>
                <textarea name="Telefono" id="Telefono" cols="75" placeholder="Escriba aqui" rows="5"></textarea>
                <div id="Enviar">
                <input type="submit"/>  
                    <!-- <button type="button" value="Enviar">Enviar</button> -->
                </div>

            </form>
        </div>
        <br>








   