<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: "Inicio"}); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>

    </header>
    <%- include('../partials/bodyInicio'); %>
    <footer> 
       <%- include('../partials/footer'); %>
    </footer>
</body>

</html>