<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: "Nosotros"}); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>

    </header>
    <%- include('../partials/bodyNosotros'); %>
    <footer> 
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>