<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: "Pedidos"}); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>

    </header>
    <%- include('../partials/bodypedidos'); %>
    <!-- <footer> 
        <%- include('../partials/footer'); %>
    </footer> -->
</body>

</html>